[submodule "icons"]
	path = icons
	url = https://github.com/lucide-icons/lucide

[submodule "app-template"]
	path = src/apps/app-template
	url = https://github.com/constellation-os/constellation-app-template

[submodule "types"]
	path = src/apps/types
	url = https://github.com/constellation-os/constellation-types