@keyframes bootImage {
	from {
		display: contents;
	}
	0% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
	to {
		display: None;
	}
}

@keyframes bootCover {
	from {
		display: contents;
	}
	0% {
		opacity: 1;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
	to {
		display: None;
	}
}

.bootCover {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 100000;
	display: none;

	width: 100%;
	height: 100%;

	background: var(--main-theme-primary);

	animation-name: bootCover;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	transition-timing-function: cubic-bezier(1.000, 0.000, 1.000, 0.000);
}

.bootImage {
	position: absolute;
	left: 45vw;
	top: 40vw;

	user-select: none;

	width: 10vw;
	height: 10vh;

	animation-name: bootImage;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(1.000, 0.000, 1.000, 0.000);
}

.bootStatus {
	position: relative;
	padding: 50vh 0;
	margin: auto;
	width: 50%;
	z-index: 100;

	mix-blend-mode: difference;

	text-align: center;

}

.loader {
	--loader-scale: 1;
	
	position: absolute;
	left: calc(50vw - 20px);
	top: calc(50vh - 20px);

	width: 20px;
	height: 20px;

	display: block;
	border-radius: 50%;
	background: #FFFFFF;
	position: relative;
}

.loader.star {
	position: absolute;
}

.loader.planet {
	position: absolute;
	left: calc(50vw - 20px) !important;
	top: calc(50vh - 20px) !important;

	width: 0px;
	height: 0px;

	content: "";
	border-radius: 50%;
	inset: 0;
	background: #fff;

}

.loader.planet#one {
	/* first planet */
	padding: 4px;

	animation-name: rotate-one;
	animation-duration: calc(1s * var(--loader-scale));
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.loader.planet#two {
	/* second planet */
	padding: 7.5px;

	animation-name: rotate-two;
	animation-duration: calc(3s * var(--loader-scale));
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.loader.planet#three {
	/* third planet */
	padding: 9px;

	animation-name: rotate-three;
	animation-duration: calc(6s * var(--loader-scale));
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes rotate-one {
	0% {
		transform: rotate(0deg) translate(calc(40px * var(--loader-scale)))
	}

	50% {
		transform: rotate(180deg) translate(calc(35px * var(--loader-scale)));
	}

	100% {
		transform: rotate(360deg) translate(calc(40px * var(--loader-scale)))
	}
}

@keyframes rotate-two {
	0% {
		transform: rotate(360deg) translate(calc(70px * var(--loader-scale)))
	}
	
	50% {
		transform: rotate(180deg) translate(calc(80px * var(--loader-scale)));
	}

	100% {
		transform: rotate(0deg) translate(calc(70px * var(--loader-scale)))
	}
}

@keyframes rotate-three {
	0% {
		transform: rotate(360deg) translate(calc(110px * var(--loader-scale)))
	}

	50% {
		transform: rotate(180deg) translate(calc(100px * var(--loader-scale)));
	}

	100% {
		transform: rotate(0deg) translate(calc(110px * var(--loader-scale)))
	}
}