:root {
	--window-header-height: 25px;
	--window-buttons-padding: 3.75px;
	--window-border-radius: 5px;

	--window-transition-duration: 0.15s;
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation-name: none !important;
		animation-duration: 0s !important;

		transition: none !important;
		transition-duration: 0s !important;
	}
}

@media (prefers-reduced-transparency: no-preference) {
	:root {
		--window-unfocused-opacity: 0.75;
		--window-unfocused-filters: "";

		--window-focused-opacity: 1;
		--window-unfocused-filters: "";
	}
}

@media (prefers-reduced-transparency: reduce) {
	:root {
		--window-unfocused-opacity: 1;
		--window-unfocused-filters: brightness(0.25);

		--window-focused-opacity: 1;
		--window-unfocused-filters: "";
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--main-theme-contrast: -15;
		--main-accent-contrast: 20;

		--main-background-color: rgb(255, 255, 255);
		--main-shadow-colour: #ffffff;

		--main-theme-primary-val: calc(255 + (var(--main-theme-contrast) * 1));
		--main-theme-secondary-val: calc(
			255 + (var(--main-theme-contrast) * 2)
		);
		--main-theme-tertiary-val: calc(255 + (var(--main-theme-contrast) * 3));
		--main-theme-quaternary-val: calc(
			255 + (var(--main-theme-contrast) * 4)
		);
		--main-theme-quinary-val: calc(255 + (var(--main-theme-contrast) * 5));
		--main-theme-senary-val: calc(255 + (var(--main-theme-contrast) * 6));

		--main-theme-primary: rgb(
			var(--main-theme-primary-val),
			var(--main-theme-primary-val),
			var(--main-theme-primary-val)
		);
		--main-theme-secondary: rgb(
			var(--main-theme-secondary-val),
			var(--main-theme-secondary-val),
			var(--main-theme-secondary-val)
		);
		--main-theme-tertiary: rgb(
			var(--main-theme-tertiary-val),
			var(--main-theme-tertiary-val),
			var(--main-theme-tertiary-val)
		);
		--main-theme-quaternary: rgb(
			var(--main-theme-quaternary-val),
			var(--main-theme-quaternary-val),
			var(--main-theme-quaternary-val)
		);
		--main-theme-quinary: rgb(
			var(--main-theme-quinary-val),
			var(--main-theme-quinary-val),
			var(--main-theme-quinary-val)
		);
		--main-theme-senary: rgb(
			var(--main-theme-senary-val),
			var(--main-theme-senary-val),
			var(--main-theme-senary-val)
		);

		--main-text-color: rgb(0, 0, 0);

		--main-accent-primary-val: calc(
			215 + (var(--main-accent-contrast) * 1)
		);
		--main-accent-secondary-val: calc(
			215 + (var(--main-accent-contrast) * 2)
		);
		--main-accent-tertiary-val: calc(
			215 + (var(--main-accent-contrast) * 3)
		);

		--main-accent-primary: rgb(
			var(--main-accent-primary-val),
			0,
			var(--main-accent-primary-val)
		);
		--main-accent-secondary: rgb(
			var(--main-accent-secondary-val),
			0,
			var(--main-accent-secondary-val)
		);
		--main-accent-tertiary: rgb(
			var(--main-accent-tertiary-val),
			0,
			var(--main-accent-tertiary-val)
		);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--main-theme-contrast: 20;
		--main-accent-contrast: -20;

		--main-background-color: rgb(0, 0, 0);

		--main-theme-primary-val: calc(var(--main-theme-contrast) * 1);
		--main-theme-secondary-val: calc(var(--main-theme-contrast) * 2);
		--main-theme-tertiary-val: calc(var(--main-theme-contrast) * 3);
		--main-theme-quaternary-val: calc(var(--main-theme-contrast) * 4);
		--main-theme-quinary-val: calc(var(--main-theme-contrast) * 5);
		--main-theme-senary-val: calc(var(--main-theme-contrast) * 6);

		--main-theme-primary: rgb(
			var(--main-theme-primary-val),
			var(--main-theme-primary-val),
			var(--main-theme-primary-val)
		);
		--main-theme-secondary: rgb(
			var(--main-theme-secondary-val),
			var(--main-theme-secondary-val),
			var(--main-theme-secondary-val)
		);
		--main-theme-tertiary: rgb(
			var(--main-theme-tertiary-val),
			var(--main-theme-tertiary-val),
			var(--main-theme-tertiary-val)
		);
		--main-theme-quaternary: rgb(
			var(--main-theme-quaternary-val),
			var(--main-theme-quaternary-val),
			var(--main-theme-quaternary-val)
		);
		--main-theme-quinary: rgb(
			var(--main-theme-quinary-val),
			var(--main-theme-quinary-val),
			var(--main-theme-quinary-val)
		);
		--main-theme-senary: rgb(
			var(--main-theme-senary-val),
			var(--main-theme-senary-val),
			var(--main-theme-senary-val)
		);

		--main-text-color: rgb(255, 255, 255);

		--main-accent-primary-val: calc(
			215 + (var(--main-accent-contrast) * 1)
		);
		--main-accent-secondary-val: calc(
			215 + (var(--main-accent-contrast) * 2)
		);
		--main-accent-tertiary-val: calc(
			215 + (var(--main-accent-contrast) * 3)
		);

		--main-accent-primary: rgb(
			var(--main-accent-primary-val),
			0,
			var(--main-accent-primary-val)
		);
		--main-accent-secondary: rgb(
			var(--main-accent-secondary-val),
			0,
			var(--main-accent-secondary-val)
		);
		--main-accent-tertiary: rgb(
			var(--main-accent-tertiary-val),
			0,
			var(--main-accent-tertiary-val)
		);
	}

	.windowButtonIcon,
	.bootImage {
		filter: invert(100%) brightness(10000%);
	}
}

:root {
	color: var(--main-text-color);
	background-color: rgb(22, 18, 34);
	background-color: var(--main-background-color);

	overflow: hidden;
}

body {
	width: 100vw;
	height: 100vh;

	position: absolute;
	left: 0px;
	top: 0px;

	padding: 0px;
	margin: 0px;
}

* {
	font-family: monospace;
	white-space: pre;
}

.hidden {
	display: None;
}

.windowContainer {
	background-color: var(--main-theme-primary);
	border: var(--main-theme-quinary) solid 1px;

	position: absolute;

	border-radius: var(--window-border-radius);
	overflow: hidden;

	animation-name: spawnWindow;
	animation-timing-function: cubic-bezier(0.67, 0.2, 0.59, 1.2);
	animation-duration: 0.2s;

	/* box shadow */
	box-shadow: 0 5px 10px #000000;

	opacity: var(--window-unfocused-opacity);
	filter: var(--window-unfocused-filters);

	transition:
		opacity var(--window-transition-duration) ease-in-out,
		z-index var(--window-transition-duration) ease-in-out;
}

.windowContainer.focused {
	opacity: var(--window-focused-opacity) !important;
	filter: var(--window-focused-filters) !important;
}

.windowHeader {
	background-color: var(--main-theme-secondary);

	width: 100%;
	height: var(--window-header-height);

	position: relative;
	top: 0px;
	left: 0px;

	display: flex;
	align-items: column;
	justify-content: center;

	user-select: None;
}

.windowTitle {
	margin: 0px;
	margin-left: 5px;

	height: 100%;

	line-height: var(--window-header-height);
}

.windowButtons {
	position: absolute;
	left: calc(50% - var(--window-buttons-padding));

	width: calc(50% - var(--window-buttons-padding));
	height: calc(100% - (var(--window-buttons-padding) * 2));

	padding: var(--window-buttons-padding);
}

.windowButton {
	background-color: var(--main-theme-tertiary);

	width: calc(
		var(--window-header-height) - (2 * var(--window-buttons-padding))
	);
	height: calc(
		var(--window-header-height) - (2 * var(--window-buttons-padding))
	);

	border-radius: var(--window-border-radius);

	position: relative;
	float: right;

	margin-left: var(--window-buttons-padding);

	cursor: pointer;
}

.windowButtonIcon {
	width: 100%;
	height: 100%;

	position: relative;
	left: 0px;
	top: 0px;
}

.wallpaper {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;

	background-image: var(--wallpaper-url);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.windowBody {
	position: relative;
	top: 0px;
	left: 0px;

	width: 100%;
	height: calc(100% - var(--window-header-height));

	overflow: hidden;
}

@keyframes spawnWindow {
	from {
		transform: scale(0.5);
		filter: blur(5px) opacity(0);
	}
}

.fullscreenedWindow {
	animation-name: fullscreenWindow;
	animation-duration: 1s;

	position: absolute !important;
	left: 0px !important;
	right: 0px !important;
	width: 100vw !important;
	height: 100vh !important;
}

@keyframes fullscreenWindow {
	to {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 100vh;
	}
}
