body {
    width: 90vw;
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 5;
    font-style: normal;
    width: calc(100vw - 10px);
    height: calc(100vh - 50px);
    overflow-x: scroll;
    overflow-y: scroll;
    background-color: rgb(22, 18, 24);
    color: white;
    margin: 0px;
    margin-top: 50px;
}

#display {
    font-family: 'Courier New', sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-size: 16px;
    white-space: pre;
    width: 100vw;
    position: fixed;
    height: calc(100vh - 50px);
}

#body {
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 50%;
    text-align: center;
}

button {
    margin-left: 50px;
    background: rgb(68, 49, 58);
    border: 0px;
    padding: 20px;
    border-radius: 15px
}

button:hover {
    background: rgb(91, 66, 78);
    cursor: pointer;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}

h1 {
    font-size: 15;
}

a {
    color: white;
    text-decoration: underline;
}

#header {
    width: 100vw;
    height: 50px;
    left: 0px;
    background-color: rgb(37, 27, 32);
    color: white;
    z-index: 5;
}

#mainHeader {
    width: 100vw;
    height: 50px;
    top: 0px;
    left: 0px;
    background-color: rgb(55, 40, 47);
    color: white;
    text-decoration: none;
    z-index: 10;
    position: absolute;
}

#headerInner {
    float: left;
    margin: 25px;
    margin-top: 0px;
    line-height: 50px;
}

a:hover {
    color: grey;
}

textarea {
    width: calc(100% - 100px);
    margin: 50px;
    display: block;
    height: 25%
}

#divider {
    background-color: transparent;
}

select {
    margin-left: 50px;
    width: 250px;
    text-align: center;
    background-color: rgb(87, 30, 59);
    color: white;
    border-radius: 10px;
    border: 2px;
    border-bottom: white;
}

#total {
    width: 75%;
    margin-left: 12.5vw;
    margin-right: 12.5vw;
    text-align: center;
}

.total-partition {
    width: calc((100% - 10px) / 2);
    height: 100%;
    background-color: rgb(37, 27, 32);
    margin-top: 5%;
    border-radius: 1vw;
    overflow: hidden;
}

.total-partition p,
h1 {
    width: calc(100% - 25px);
    margin-left: 12.5px;
}

.total-partition img {
    width: 90%;
    height: auto;
    border-radius: 25px;
    margin-bottom: 12.5px;
}


/* === Chromium / Webkit === */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(55, 40, 47);
}

::-webkit-scrollbar-thumb {
    background: rgb(37, 27, 32);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(86, 55, 71);
}

/* === Gecko === */
* {
    scrollbar-width: thin; /* auto | thin | none */
    scrollbar-color: rgb(37, 27, 32) rgb(55, 40, 47); /* thumb color, track color */
}
