.windowHeader {
	cursor: grab;
}

.windowHeader:active {
	cursor: grabbing;
}

@keyframes flyAway {
	from {
	}

	to {
		top: 100vh;
		left: 50vw;

		width: 0px;
		height: 0px;
	}
}

@keyframes flick-up {
	from {
	}

	to {
		top: -10vh;
		height: 0px;
	}
}

@keyframes flick-back {
	from {
	}

	to {
		transform: scale(0.1);
	}
}

.windowContainer.gone {
	animation:
		flick-up 0.5s cubic-bezier(0.98, 0.01, 0.99, 0.63) 0s 1 forwards,
		flick-back 0.5s cubic-bezier(0.04, 1.07, 0.78, 0.72) 0s 1 normal
			forwards;
}

/*.windowContainer.gone {
	animation-name: flyAway;
	animation-duration: 0.15s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}*/
