/* Basic styles */

body {
	background-color: black;
}

canvas {
	font-size: 15px;
	font-family: system-ui !important;
}

* {
	font-family: monospace;
	font-optical-sizing: auto;
	white-space: pre;
	line-height: 1.2;
}

@media (prefers-color-scheme: light) {
	:root {
		--main-theme-contrast: -15;
		--main-accent-contrast: 20;

		--main-background-color: rgb(255, 255, 255);
		--main-shadow-colour: #ffffff;

		--main-theme-primary-val: calc(255 + (var(--main-theme-contrast) * 1));
		--main-theme-secondary-val: calc(255 + (var(--main-theme-contrast) * 2));
		--main-theme-tertiary-val: calc(255 + (var(--main-theme-contrast) * 3));
		--main-theme-quaternary-val: calc(255 + (var(--main-theme-contrast) * 4));
		--main-theme-quinary-val: calc(255 + (var(--main-theme-contrast) * 5));
		--main-theme-senary-val: calc(255 + (var(--main-theme-contrast) * 6));

		--main-theme-primary: rgb(var(--main-theme-primary-val),
				var(--main-theme-primary-val),
				var(--main-theme-primary-val));
		--main-theme-secondary: rgb(var(--main-theme-secondary-val),
				var(--main-theme-secondary-val),
				var(--main-theme-secondary-val));
		--main-theme-tertiary: rgb(var(--main-theme-tertiary-val),
				var(--main-theme-tertiary-val),
				var(--main-theme-tertiary-val));
		--main-theme-quaternary: rgb(var(--main-theme-quaternary-val),
				var(--main-theme-quaternary-val),
				var(--main-theme-quaternary-val));
		--main-theme-quinary: rgb(var(--main-theme-quinary-val),
				var(--main-theme-quinary-val),
				var(--main-theme-quinary-val));
		--main-theme-senary: rgb(var(--main-theme-senary-val),
				var(--main-theme-senary-val),
				var(--main-theme-senary-val));

		--main-text-color: rgb(0, 0, 0);

		--main-accent-primary: #e2b7f9ff;
		--main-accent-secondary: #dba2fa;
		--main-accent-tertiary: #cc7cf7ff;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--main-theme-contrast: 20;
		--main-accent-contrast: -20;

		--main-background-color: rgb(0, 0, 0);

		--main-theme-primary-val: calc(var(--main-theme-contrast) * 1);
		--main-theme-secondary-val: calc(var(--main-theme-contrast) * 2);
		--main-theme-tertiary-val: calc(var(--main-theme-contrast) * 3);
		--main-theme-quaternary-val: calc(var(--main-theme-contrast) * 4);
		--main-theme-quinary-val: calc(var(--main-theme-contrast) * 5);
		--main-theme-senary-val: calc(var(--main-theme-contrast) * 6);

		--main-theme-primary: rgb(var(--main-theme-primary-val),
				var(--main-theme-primary-val),
				var(--main-theme-primary-val));
		--main-theme-secondary: rgb(var(--main-theme-secondary-val),
				var(--main-theme-secondary-val),
				var(--main-theme-secondary-val));
		--main-theme-tertiary: rgb(var(--main-theme-tertiary-val),
				var(--main-theme-tertiary-val),
				var(--main-theme-tertiary-val));
		--main-theme-quaternary: rgb(var(--main-theme-quaternary-val),
				var(--main-theme-quaternary-val),
				var(--main-theme-quaternary-val));
		--main-theme-quinary: rgb(var(--main-theme-quinary-val),
				var(--main-theme-quinary-val),
				var(--main-theme-quinary-val));
		--main-theme-senary: rgb(var(--main-theme-senary-val),
				var(--main-theme-senary-val),
				var(--main-theme-senary-val));

		--main-text-color: rgb(255, 255, 255);

		--main-accent-primary-val: calc(215 + (var(--main-accent-contrast) * 1));
		--main-accent-secondary-val: calc(215 + (var(--main-accent-contrast) * 2));
		--main-accent-tertiary-val: calc(215 + (var(--main-accent-contrast) * 3));

		--main-accent-primary: rgb(var(--main-accent-primary-val), 0, var(--main-accent-primary-val));
		--main-accent-secondary: rgb(var(--main-accent-secondary-val), 0, var(--main-accent-secondary-val));
		--main-accent-tertiary: rgb(var(--main-accent-tertiary-val), 0, var(--main-accent-tertiary-val));
	}

	.bootImage {
		filter: invert(100%) brightness(10000%) !important;
	}
}

/* Boot stuff */

.bootCover {
	position: absolute;

	left: 0px;
	top: 0px;
	z-index: 10000;

	width: 100%;
	height: 100%;

	backdrop-filter: blur(10px);
}

.bootCover.fadeOut {
	animation: fadeOut 0.5s ease-in-out 0s 1 forwards !important;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}

	to {
		opacity: 0;
		display: none;
	}
}

.bootImage {
	position: absolute;

	width: 100px;
	height: 100px;

	left: calc(50% - (100px / 2));
	top: calc(50% - (100px / 2));
}

@media (prefers-color-scheme: dark) {
	.bootImage {
		filter: invert(100%) !important;
	}
}

.bootText {
	position: absolute;
	text-align: center;

	width: 100%;
	height: 20px;

	left: 0px;
	top: calc(50% - (20px / 2) + 150px);
}

.loader {
	display: block;

	position: absolute;
	top: calc(50% - (12px / 2) + 100px);
	left: calc(50% - 12.5%);

	width: 25%;
	height: 12px;

	border: 1px solid #fff;
	border-radius: 10px;

	overflow: hidden;
}

.loader::after {
	content: "";

	width: 50%;
	height: 100%;

	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 1);
	border-radius: 10px;

	position: absolute;
	top: 0;
	left: 0;

	box-sizing: border-box;
	animation: animloader 2s ease-in-out infinite;
}

@keyframes animloader {
	0% {
		left: 0;
		transform: translateX(-100%);
	}

	100% {
		left: 100%;
		transform: translateX(0%);
	}
}
