@keyframes bootImage {

	from,
	to {
		display: contents;
	}

	0% {
		opacity: 0;
	}

	20%,
	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		display: none;
	}
}

@keyframes bootCover {

	from,
	to {
		display: contents;
	}

	0%,
	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		display: none;
	}
}

.bootCover {
	position: absolute;
	inset: 0;
	z-index: 100000;
	display: none;
	background: var(--main-theme-primary);

	width: 100%;
	height: 100%;

	animation: bootCover 1s forwards cubic-bezier(1, 0, 1, 0);
}

.bootImage {
	position: absolute;
	left: 45vw;
	top: 40vw;
	width: 10vw;
	height: 10vh;
	user-select: none;

	animation: bootImage 1s forwards cubic-bezier(1, 0, 1, 0);
}

.bootStatus {
	position: relative;
	padding: 50vh 0;
	margin: auto;
	width: 50%;
	z-index: 100;
	text-align: center;
	mix-blend-mode: difference;
}

.loader {
	--loader-scale: 1;
	position: absolute;
	left: calc(50vw - 20px);
	top: calc(50vh - 20px);
	width: 20px;
	height: 20px;
	display: block;
	border-radius: 50%;
	background: #fff;
}

.loader.star {
	position: absolute;
}

.loader.planet {
	position: absolute !important;
	left: calc(50vw - 20px) !important;
	top: calc(50vh - 20px) !important;
	width: 0;
	height: 0;
	border-radius: 50%;
	inset: 0;
	background: #fff;
}

.loader.planet#one {
	padding: 4px;
	animation: rotate-one calc(1s * var(--loader-scale)) linear infinite;
}

.loader.planet#two {
	padding: 7.5px;
	animation: rotate-two calc(3s * var(--loader-scale)) linear infinite;
}

.loader.planet#three {
	padding: 9px;
	animation: rotate-three calc(6s * var(--loader-scale)) linear infinite;
}

@keyframes rotate-one {
	0% {
		transform: rotate(0deg) translate(calc(40px * var(--loader-scale)));
	}

	50% {
		transform: rotate(180deg) translate(calc(35px * var(--loader-scale)));
	}

	100% {
		transform: rotate(360deg) translate(calc(40px * var(--loader-scale)));
	}
}

@keyframes rotate-two {
	0% {
		transform: rotate(360deg) translate(calc(70px * var(--loader-scale)));
	}

	50% {
		transform: rotate(180deg) translate(calc(80px * var(--loader-scale)));
	}

	100% {
		transform: rotate(0deg) translate(calc(70px * var(--loader-scale)));
	}
}

@keyframes rotate-three {
	0% {
		transform: rotate(360deg) translate(calc(110px * var(--loader-scale)));
	}

	50% {
		transform: rotate(180deg) translate(calc(100px * var(--loader-scale)));
	}

	100% {
		transform: rotate(0deg) translate(calc(110px * var(--loader-scale)));
	}
}