.bootCover {
	position: absolute;

	left: 0px;
	top: 0px;
	z-index: 10000;

	width: 100vw;
	height: 100vh;

	backdrop-filter: blur(10px);
}

.bootCover.fadeOut {
	animation: fadeOut 0.5s ease-in-out 0s 1 forwards !important;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}

	to {
		opacity: 0;
		display: none;
	}
}

.bootImage {
	position: absolute;

	width: 100px;
	height: 100px;

	left: calc(50vw - (100px / 2));
	top: calc(50vh - (100px / 2));
}

.bootText {
	position: absolute;
	text-align: center;

	width: 100vw;
	height: 20px;

	left: 0px;
	top: calc(50vh - (20px / 2) + 150px);
}

.loader {
	display: block;

	position: absolute;
	top: calc(50vh - (12px / 2) + 100px);
	left: calc(50vw - 12.5vw);

	width: 25vw;
	height: 12px;

	border: 1px solid #fff;
	border-radius: 10px;

	overflow: hidden;
}

.loader::after {
	content: "";

	width: 50%;
	height: 100%;

	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 1);
	border-radius: 10px;

	position: absolute;
	top: 0;
	left: 0;

	box-sizing: border-box;
	animation: animloader 2s ease-in-out infinite;
}

@keyframes animloader {
	0% {
		left: 0;
		transform: translateX(-100%);
	}

	100% {
		left: 100%;
		transform: translateX(0%);
	}
}
