.windowContainer {
	--headerColour: var(--bg-light);
	--backgroundColour: var(--bg-dark);

	background-color: var(--backgroundColour);

	/* Outline */
	border: var(--border-muted) solid 2px;

	position: absolute;

	min-height: var(--window-header-height);

	border-radius: var(--window-border-radius);
	overflow: hidden;

	display: flex;
	flex-direction: column;

	animation-name: spawnWindow;
	animation-timing-function: ease-out;
	animation-duration: 0.2s;

	/* box shadow */
	box-shadow: 2px 10px 33px 2px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 2px 10px 33px 2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 2px 10px 33px 2px rgba(0, 0, 0, 0.75);

	transition:
		opacity var(--window-transition-duration) ease-in-out,
		z-index var(--window-transition-duration) ease-in-out;
}

.frosted {
	background: rgb(from var(--backgroundColour) r g b / 50%);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.glass {
	background: transparent;
	backdrop-filter: blur(1px) brightness(3);
	-webkit-backdrop-filter: blur(1px) brightness(3);
}

.windowContainer.focused {
	border: var(--border) solid 2px;
}

.windowContainer:not(.focused) {
	--headerColour: var(--bg);
}

.windowContainer.invisible {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	backdrop-filter: none;
	pointer-events: none;

	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;

	resize: none !important;
}

.windowContainer.invisible > .windowBody > * {
	pointer-events: all;
}

.windowContainer.sqare {
	border-radius: 0px !important;
}

.windowContainer.sqare > .windowHeader {
	border-radius: 0px !important;
}

.windowContainer * {
	/* Fixes fractional scaling issues */
	transform: translateX(1) !important;
}

.windowBody {
	position: relative;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;
	flex: 1 1 auto;

	overflow: hidden;
	padding: 1px;

	scrollbar-width: none;
}

@keyframes spawnWindow {
	from {
		transform: scale(0.25);
		filter: blur(25px) opacity(0) !important;
	}
}
