.hidden {
    display: None;
}

.windowContainer {
    --headerColour: var(--main-theme-tertiary);
    --backgroundColour: var(--main-theme-primary);

    background-color: var(--backgroundColour);

    /* Outline */
    border: var(--main-theme-quinary) solid 2px;


    position: absolute;

    min-width: 300px;
    min-height: var(--window-header-height);

    border-radius: var(--window-border-radius);
    overflow: hidden;

    display: flex;
    flex-direction: column;

    animation-name: spawnWindow;
    animation-timing-function: ease-out;
    animation-duration: 0.2s;

    /* box shadow */
    box-shadow: 2px 10px 33px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 10px 33px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 10px 33px 2px rgba(0, 0, 0, 0.75);

    transition:
        opacity var(--window-transition-duration) ease-in-out,
        z-index var(--window-transition-duration) ease-in-out;
}


.windowContainer.focused {
    border: var(--main-accent-primary) solid 2px;
}

.windowContainer:not(.focused) {
    --headerColour: var(--main-theme-secondary);
}

.windowContainer.invisible {
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;

    resize: none !important;
}

.windowContainer.sqare {
    border-radius: 0px !important;
}

.windowContainer.sqare>.windowHeader {
    border-radius: 0px !important;
}

.windowBody {
    position: relative;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
    flex: 1 1 auto;

    overflow-x: clip;
    overflow-y: scroll;

    scrollbar-width: none;
}

@keyframes spawnWindow {
    from {
        transform: scale(0.25);
        filter: blur(25px) opacity(0) !important;
    }
}

.fullscreenedWindow {
    animation-name: fullscreenWindow;
    animation-duration: 0.15s;
    animation-fill-mode: forwards;
}

.unfullscreeningWindow {
    animation-name: unfullscreenWindow;
    animation-duration: 0.15s;
    animation-fill-mode: forwards;
}

@keyframes fullscreenWindow {
    to {
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
    }
}

@keyframes unfullscreenWindow {
    from {
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
    }
}