.invisible > .windowHeader {
	min-height: 0px !important;
	opacity: 0%;
}

.windowHeader {
	background-color: var(--headerColour);

	width: 100%;
	height: var(--window-header-height);
	min-height: var(--window-header-height);
	overflow: hidden;

	position: relative;
	top: 0px;
	left: 0px;

	display: flex;
	align-items: column;
	justify-content: center;

	user-select: None;
	cursor: grab;
}

.windowContainer:not(.focused) > .windowHeader {
	filter: grayscale(1);
}

.windowHeader:active {
	cursor: grabbing;
}

.windowTitle {
	margin: 0px;
	margin-left: 5px;

	height: 100%;

	line-height: var(--window-header-height);
}

.windowIcon {
	--size: calc(var(--window-header-height) - 15px);

	width: var(--size);
	height: var(--size);

	margin-top: calc((var(--window-header-height) - var(--size)) / 2);
}

.windowButtonContainer {
	position: absolute;
	right: 0px;

	display: flex;
	justify-content: right;

	width: 50%;
	height: var(--window-header-height);
}

.windowButton {
	--buttonSize: calc(var(--window-header-height) - 15px);
	--padding: calc((var(--window-header-height) - var(--buttonSize)) / 2);

	cursor: pointer;
	margin: var(--padding);
	margin-right: var(--padding);
	margin-left: 0;

	background: #CCCCCC;
	border-radius: 7px;

	width: var(--buttonSize);
	height: var(--buttonSize);

	right: var(--window-header-height);
	top: var(--padding);
}

.windowButtonIcon {
	--padding: 5px;
	--size: calc(var(--buttonSize) - (var(--padding) * 2));

	width: var(--size);
	height: var(--size);

	filter: drop-shadow(0px, 4px, 4px, rgba(0, 0, 0, 0.25));

	position: relative;
	left: var(--padding);
	top: var(--padding);
}

.windowContainer.square > .windowHeader {
	display: none;
}
